name: Go CI

on:
  pull_request:
    paths:
      - 'go/**'
      - '.github/workflows/go.yml'
  push:
    branches: [ main ]
    paths:
      - 'go/**'
      - '.github/workflows/go.yml'

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'
      - name: Tidy
        run: |
          cd go && go mod tidy
      - name: Build
        run: |
          cd go && go build ./...
      - name: Test
        run: |
          cd go && go test ./...
